/*
 * === Header style ===
 */

/* Header style */
header {
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
  }

  header .logo {
    background: url('../images/logo.png') no-repeat center;
    padding-left: 20px;
    width: 145px;
    height: 65px;
  }
